@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

h1 {
  font-size: 40px;
  color: #fff;
  margin: 0;
}